[Unit]
Description=Bridge discord messages to the mailing list periodically
Requires=network-online.target

[Timer]
OnCalendar=Tue *-*-* 00:00:00

[Install]
WantedBy=default.target
